/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Imports
   ========================================================================== */

@import url(http://fast.fonts.com/cssapi/2db1a53e-09d8-42f1-ae1e-91b270058170.css);

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #383838;
}

body {
    font-size: 1.0625em; /* 17px / 16px */
    line-height: 1.411764706;   
}

a { color: #E167A7; }
a:visited { color: #651053; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #E167A7;
    text-shadow: none;
}

::selection {
    background: #E167A7;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*font-family:'Didot W01 Bold';
font-family:'Didot W02 Bold Italic';*/

body, p, span {
    font-family: 'CallunaSansW01-Regular', sans-serif;
}

h1, h2 {
    font-family: "AbrilW01-DisplayRegular", Didot, Garamond, serif;
    line-height: 1.2;
    font-weight: normal;
}

h3, h4, h5, h6 {
    font-family: 'Calluna Sans W01 Bold', 'Helvetica-bold', sans-serif;
    font-weight: normal;
}

h1 { font-size: 3.25em; }
h2 { font-size: 2.25em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.058em;}
h5, h6 { font-size: 1em; }


form input {
    color: gray;
}

.logo  {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 3.37125em;
    font-family: "AbrilW01-DisplayItalic", Didot, Garamond, serif;
}

#grupoalbada span {
    font-size: .933333em;
    font-family: Georgia, Times, serif;
    font-style: italic;
}

#title a { text-decoration: none; }

#main-menu ul li a {    
    font-size: 0.875em; /* 14px / 16px */
    font-family: 'Calluna Sans W01 Bold', 'Helvetica-bold', sans-serif;
    text-decoration: none;
    color:#fff;
    letter-spacing: .07em;
}

/* Article */

time {
    text-align: center;
}

time span, time p {
    font-family: 'AbrilW01-DisplayRegular', Didot, Garamond, serif;
}

time span {
    font-size: 1.875em;
}

time p {
    color: white;
}

.author span {
    color: #E167A7;
}

article h2 {
    font-variant: small-caps;
}

article a {
    color: #E167A7;
}

article strong {
    font-family: 'Calluna Sans W01 Bold', "Helvetica-bold", sans-serif;
}

blockquote {
    color: #E167A7;
}

blockquote small {
    color: #909090;
    text-align: right;
}

blockquote cite {
    color: #E167A7;
}

.iniciales {
    font-size: 90%;
    text-transform: uppercase;
}

#comments h4 {
    color: #E167A7;
    font-size: 1.058823529em; 
}

footer a {
    text-decoration: none;
}

/* Sidebar */

aside h6 {
    font-family: 'CallunaSansW01-Regular', Helvetica, sans-serif;
    color: #fff;
}

.articulos-sidebar a {
    color: #383838;
}

.articulos-sidebar a:hover,
a:focus {
    color: #E167A7;
    -webkit-transition: all .2s ease;
       -moz-transition: all .2s ease;
        -ms-transition: all .2s ease;
         -o-transition: all .2s ease;
            transition: all .2s ease;   
}

#suscribirse h5 {
    color: #fff;
    font-size: 1.764705882em;
    font-family: 'AbrilW01-DisplayRegular', Didot, Garamond, serif;
    font-weight: normal;
}

#suscribirse label {
    color: #651053;
}

.ad-sidebar {
    font-size: .823529412em;
}

footer h6 { 
    color: #B749A7;
}

footer p {
    font-size: .941176471em;
    color:#909090;
}

footer nav a {
    text-decoration: none;
    color:#909090;
}

footer nav a:hover {
    border-bottom: 2px solid;
    color: #B749A7;
    -webkit-transition: all .15s ease;
       -moz-transition: all .15s ease;
         -o-transition: all .15s ease;
            transition: all .15s ease;
}

#copyright a {
    color: #E1B800;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background: #F7F5ED;
}

.banda {
    content: "";
    width: 100%;
    height: 137px;
    position: absolute;
    top: 124px;
    background-color: #B749A7;
    z-index: -10;
}

.page-width {
    width: 960px;
}

#grupoalbada {
    margin: 40px auto 0;
}
#grupoalbada span { padding-left: .833333333%; }
#grupoalbada a {
    display: block;
}
#grupoalbada img {
    width: 237px;
}

.social-icons {
    margin-right: 20px;
    margin-left: -20px;
}

.social-icons li {
    display: inline;
    list-style: none;
    text-indent: -9999px;
    margin-left: 5px;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.social-icons li a {
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 28px;
    width: 28px;
}

.social-icons li:hover { background-position: 0 -38px; }

.facebook { background: url('../img/icons/social/facebook.png') no-repeat; }
.twitter { background: url('../img/icons/social/twitter.png') no-repeat; }

#page-wrap {
    margin: 50px auto 42px;
    background: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
    padding-bottom: 3.058823529em;
}

header { 
    position: relative;
    padding-top: 43px; 
}

header hr {
    margin: 15px 0;
    background: #E1B800;
    border: none;
    border-left: 20px solid white;
    border-right: 20px solid white;
}

#follow {
    top: 0;
    right: 0;
    position: absolute;
}

#follow p, #follow li {
    float: left;
}

#follow ul { float: right;}

.logo {
    background: #B749A7;
    padding: 40px 6.354166667% 0; /* 61px / 960px */
    height: 97px;
}

/* Menu principal */

.menu {
    background-color: #E1B800;
    border-radius: 5px;
    margin: 0 20px;
}

#main-menu ul {
    margin: 0;
}

#main-menu ul li {
    float: left;
}



#main-menu ul li a {
    display: block;
    padding: 20px 25px;  
}

#main-menu ul li a:hover {
    background-color: #b69400;
}

#main-menu ul li:first-child a {
    border-radius: 5px 0 0 5px;
}

#main-menu ul li a:after {
    content: "\25BC";
    font-size: .5625em;
    padding-left: .7em;
}

.dropdown {
    position: absolute;
    background-color: #b69400;
    margin-top: -3px;
    border-top: 3px solid #E1B800;
    box-shadow: inset 0px 4px 5px -5px rgba(0,0,0,0.5);
    padding-bottom: 20px;
    border-radius: 0 0 5px 5px;
}

.dropdown li {
    float: none;
}

#main-menu .dropdown ul li a:after {
    content: none;
}

#main-menu .dropdown ul.sub-columna li {
    float: none;
}

#main-menu .dropdown ul li a {
    padding-bottom: 0;
}

#main-menu .dropdown ul li a:hover {
    color: #806800;
    background: transparent;
    -webkit-transition: all .15s ease;
       -moz-transition: all .15s ease;
         -o-transition: all .15s ease;
            transition: all .15s ease;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
}

.menu form {
    position: relative;
    float: right;
    padding: 12px 20px;
}

.menu form input,  .menu form button {
    vertical-align: middle;
}

.menu form input {
    height: 30px;
    width: 237px;
    border-radius: 5px;
    border: none;
    border-top: solid transparent 1px;
    border-bottom: solid #d0d0d0 3px;
    padding-left: 33px;
}

.menu form i {
    position: absolute;
    left: 30px;
    top: 1.1em;
    color: #b69400;
}

.menu form input:focus {
    outline: none;
}

/* layout */

#main-content {
    float: left;
    width: 594px;
    margin: 61px 20px 0 61px;
}

aside {
    float: right;
    width: 285px;
}

footer {
    margin: 0 auto;
    clear: both;
}

/* Contenidos */

#breadcrumbs {
    padding-bottom: 10px;
}

#breadcrumbs ul {
    margin: 0;
}


#breadcrumbs li {
    float: left;
    margin-left: 8px;
}

#breadcrumbs li:first-child {
    margin: 0;
}

#breadcrumbs li a {
    text-decoration: none;
    color: #383838;
}

#breadcrumbs li a:last-child {
    color: #E167A7;
}

#breadcrumbs li a:hover {
    border-bottom: 2px solid #E167A7;
    -webkit-transition: all .15s ease;
       -moz-transition: all .15s ease;
         -o-transition: all .15s ease;
            transition: all .15s ease;
}

#breadcrumbs span {
    margin-left: 8px;
}

article {
    position: relative;
}

time {
    padding-top: 10px;
    width: 60px;
    height: 104px;
    position: absolute;
    background-color: #E1B800;
    top: 0;
    margin-left: -121px;
    z-index: -1;

}

time p {
    margin-top: -10px;
    clear: left;
}

.author {
    margin-top: -35px;
    margin-bottom: 50px;
}

blockquote {
    background-color: #faebf3;
    padding: 10px 20px 20px;
    margin: 30px 0px 30px 40px;
    border-left: 6px solid #E167A7;
}

blockquote small {
    width: 100%;
    display: block;
}

abbr[title], abbr[data-original-title] {
cursor: help;
border-bottom: 1px dotted #999999;
}

article ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

article ul li {
    padding-left: 2.5em;
    text-indent: -.99em;
}

article ul li:before {
    content: "\25A0 \0020";
    color: #E167A7;
}
article ul:last-child li:before {
    content: none;
    color: red;
}

.referencia {
    margin: 3.25em 0;
}

article hr {
    border-top: #E167A7 solid 1px;
}

/* Sidebar */

aside {
    margin-top: 61px;
}

aside > div, aside > nav {
    margin-bottom: 20px;
}

aside h6 {
    background-color: #E167A7;
    padding: .411764706em .529411765em;
    margin: 0;
}

.articulos-sidebar ul {
    margin: 0;
}

.articulos-sidebar li {
    border-bottom: #E167A7 dotted 1px;
    height: 110px;
    position: relative;
}

.articulos-sidebar a {
    display: block;
}

.articulos-sidebar a img:hover, img:focus {
    opacity: 0.6;
    -webkit-transition: all .25s ease;
       -moz-transition: all .25s ease;
        -ms-transition: all .25s ease;
         -o-transition: all .25s ease;
            transition: all .25s ease;
}

.articulos-sidebar span {
    display: block;
    width: 190px;
    position: absolute;
    bottom: 7px;
    left: 90px;
}

/*.articulos-sidebar li {
    background: transparent url('http://placehold.it/80x110') 0 0 no-repeat;
}
*/
.articulos-sidebar {
    background-color: #faebf3;
}

#suscribirse {
    background-color: #B749A7;
    padding: 20px;
    height: 105px;
}

#suscribirse form {
    position: relative;
}

#suscribirse h5 {
    margin: 0;
}

#suscribirse form input[name="suscribe"] {
    height: 30px;
    width: 195px;
    border-radius: 5px 0 0 5px;
    border: none;
    border-top: solid transparent 1px;
    border-bottom: solid #d0d0d0 3px;
    padding:0 5px;
    float: left;
}

/*#suscribirse form button[name="enviar"] {
    float: left;
    height: 30px;
    border-radius: 0 5px 5px 0;
    border: none;
    border-left: solid 1px #5e1651;
    border-top: solid transparent 1px;
    border-bottom: solid #5e1651 3px;
    padding: 16px 6px;
    color: red;
    background-color:#772f6d;
    vertical-align: middle;
    content: "\25B6";
}
*/

#suscribirse form a {
    display: block;
    height: 25px;
    border-radius: 0 5px 5px 0;
    border: none;
    border-left: solid 1px #5e1651;
    border-top: solid transparent 1px;
    border-bottom: solid #5e1651 3px;
    background-color: #772f6d;
    color: #5e1651;
    text-align: center;
    padding-top: 5px;
    position: absolute;
    right: 0;
    width: 40px;
    text-decoration: none;
    text-shadow: 1px 1px #39092f;
}

.ad-sidebar img {
    margin-bottom: 5px;
}

/* Footer */

#about {
    width: 29.6875%;
    float: left;
}

footer nav {
    float: right;
    display: block;
    width: 68.229166667%;
    margin-left:20px;
}

footer nav > ul {
    float: left;
    margin: 0;
}

footer nav > ul > li {
    float: left;
    margin-right: 40px;
}

footer nav > ul > li > ul li {
    margin-left: 15px;
}

#copyright {
    width: 100%;
    clear: both;
}


/* Pagination */

.pagination {
    display: table;
    margin: 0 auto;
}
.pagination li {
    float: left;
    border-left: solid 1px #cecece;
    border-bottom: 1px solid #cecece;
    border-top: 1px solid #cecece;
    color: #cecece;
    padding: 5px .823529412em;
    box-shadow: inset 0 -3px 0 0 #e3e3e3; 
}

.pagination a:first-child li {
    border-radius: 5px 0 0 5px;
}

.pagination a:last-child li {
    border-radius: 0 5px 5px 0;
    border-right: 1px solid #cecece;
}

.pagination li:hover {
    box-shadow: inset 0 -3px 0 0 #E167A7;   
}

.pagination li.active {
    box-shadow: inset 0 -3px 0 0 #B749A7;
    color: #B749A7; 
}

.pagination a {
    color: inherit;
    text-decoration: none;
}

.pagination a:hover li {
    color:#E167A7;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    /* Non printables */

    #follow, .menu, #suscribirse, #comments, #grupoalbada, #about, footer nav, .banda {
        display: none;
    }

    #page-wrap, #main-content {
        margin-top: 0;
        padding-bottom: 0; 
    }

    #copyright {
        position: absolute;
        bottom: 0;
    }

    header {
        padding-top: 0;
    }
}
