/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Imports
   ========================================================================== */

@import url(http://fast.fonts.com/cssapi/2db1a53e-09d8-42f1-ae1e-91b270058170.css);

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #383838;
}

body {
    font-size: 1.0625em; /* 17px / 16px */
    line-height: 1.411764706;   
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #E167A7;
    text-shadow: none;
}

::selection {
    background: #E167A7;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

/*font-family:'Didot W01 Bold';
font-family:'Didot W02 Bold Italic';*/

body, p, span, h3, h4, h5, h6 {
    font-family: 'CallunaSansW01-Regular', sans-serif;
}

h1, h2 {
    font-weight: normal;
}

form input {
    color: gray;
}

.logo  {
    color: white;
    font-style: normal;
    font-weight: normal;
    font-size: 3.37125em;
    font-family: "AbrilW01-DisplayItalic", Didot, Garamond, serif;
}

#grupoalbada span {
    font-size: .933333em;
    font-family: Georgia, Times, serif;
    font-style: italic;
}

#title a { text-decoration: none; }

#main-menu ul li a {    
    font-size: 0.875em; /* 14px / 16px */
    font-weight: bold;
    text-decoration: none;
    color:#fff;
}




/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html {
    background: #F7F5ED;
}

.banda {
    content: "";
    width: 100%;
    height: 137px;
    position: absolute;
    top: 124px;
    background-color: #B749A7;
    z-index: -10;
}

.page-width {
    width: 960px;
}

#grupoalbada {
    margin: 40px auto 0;
}
#grupoalbada span { padding-left: .833333333%; }
#grupoalbada a {
    display: block;
}
#grupoalbada img {
    width: 237px;
}

.social-icons {
    margin-right: 20px;
    margin-left: -20px;
}

.social-icons li {
    display: inline;
    list-style: none;
    text-indent: -9999px;
    margin-left: 5px;
    float: left;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}

.social-icons li a {
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 28px;
    width: 28px;
}

.social-icons li:hover { background-position: 0 -38px; }

.facebook { background: url('../img/icons/social/facebook.png') no-repeat; }
.twitter { background: url('../img/icons/social/twitter.png') no-repeat; }

#page-wrap {
    margin: 50px auto 297px;
    background: white;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

header { 
    position: relative;
    padding-top: 43px; 
}

header hr {
    margin: 15px 0;
    background: #E1B800;
    border: none;
    border-left: 20px solid white;
    border-right: 20px solid white;
}

#follow {
    top: 0;
    right: 0;
    position: absolute;
}

#follow p, #follow li {
    float: left;
}

#follow ul { float: right;}

.logo {
    background: #B749A7;
    padding: 40px 6.354166667% 0; /* 61px / 960px */
    height: 97px;
}

/* Menu principal */

.menu {
    background-color: #E1B800;
    border-radius: 5px;
    margin: 0 20px;
}

#main-menu ul {
    margin: 0;
}

#main-menu ul li {
    float: left;
}

.dropdown li {
    float: none;
}

#main-menu ul li a {
    display: block;
    padding: 20px 25px;  
}

#main-menu ul li a:hover {
    background-color: #b69400;
}

#main-menu ul li:first-child a {
    border-radius: 5px 0 0 5px;
}

#main-menu ul li a:after {
    content: "\25BC";
    font-size: .5625em;
    padding-left: .7em;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid white;
}

.menu form {
    position: relative;
    float: right;
    padding: 12px 20px;
}

.menu form input,  .menu form button {
    vertical-align: middle;
}

.menu form input {
    height: 30px;
    width: 237px;
    border-radius: 5px;
    border: none;
    border-top: solid transparent 1px;
    border-bottom: solid #d0d0d0 3px;
    padding-left: 33px;
}

.menu form i {
    position: absolute;
    left: 30px;
    top: 1.1em;
    color: #b69400;
}

.menu form input:focus {
    outline: none;
}

/* layout */

#main-content {
    float: left;
    width: 594px;
    padding: 0 20px 0 61px;
}

aside {
    float: right;
    width: 285px;
}

footer {
    margin: 0 auto;
    clear: both;
}

/* Contenidos */

#breadcrumbs {
    padding: 44px 0;
}


#breadcrumbs li {
    float: left;
}






/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
